@import "tailwindcss";

@theme {
  --color-brand-brown: #4A3324;
  --color-brand-cream: #F5EFE6;
  --color-brand-clay: #be997e;

  --font-heading: var(--font-poppins);
  --font-body: var(--font-inter);
  --font-devanagari: var(--font-noto-devanagari);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f5efe6;
  color: #2c2013;
}